@page
@model registerModuleRPC.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div>
    <img src="https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" height=200 width=300 style="margin-top:5%; align-content:center">
    <label value="User.UserName"> </label>
    <img src="https://thumbs.dreamstime.com/b/icono-del-usuario-silueta-blanca-en-fondo-cuadrado-azul-114279931.jpg" height=100 width=100 style="margin-left:1025px"><br>
    <a asp-page="\..\Index" style="margin-left:1050px">Logout</a>
    <h1 style="text-align:center">RPC::Red de Programación competitiva</h1> <br> 
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
        </tr>
}
    </tbody>
</table>
